.ham-award-callsign {
    font-family: monospace;
    font-weight: bold;
}

div.ham-award-summary {
    font-size: x-large;
}

div.ham-award-qso-table {
    margin-top: 15px;
    margin-bottom: 15px;
}

table.table-border-v tbody tr td,
table.table-border-v thead tr th,
table.table-border-v thead {
  border-left: 1px solid #B0B0B0;
  border-right: 1px solid #B0B0B0;
}