.ham-award-callsign {
    font-family: monospace;
    font-weight: bold;
}

div.ham-award-summary {
    font-size: x-large;
}

div.ham-award-qso-table {
    margin-top: 15px;
    margin-bottom: 15px;
}